body,
html {
	margin: 0;
	padding: 0;
	background-color: #ffeaa7;
	color: hsla(200, 0%, 0%, .7);
	height: 100%;
}

.navbar-brand,
.nav-link {
	color: hsla(200, 0%, 0%, .7);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsla(200, 0%, 0%, .7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}